<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwConfigExceptions="true"
  internalLogLevel="Off"
>
  <extensions>
    <add assembly="NLog.Windows.Forms" />
  </extensions>
  <!--所有日志信息记录到RichTextBox中，不输出至文件或控制台-->
  <targets async="true">
    <!--MOCS 诊断信息-->
    <target
      xsi:type="RichTextBox"
      name="diagnosticTarget"
      formName="MOCS_UI"
      controlName="MOCSdiagnose"
      layout="${longdate}|${level:uppercase=true}|${message:withexception=true}"
      autoScroll="true"
      maxLines="100"
      allowAccessoryFormCreation="false"
    />
    <!--MOCS 接收报文-->
    <target
      xsi:type="RichTextBox"
      name="receiveTarget"
      formName="MOCS_UI"
      controlName="MOCSRecvMsg"
      layout="${longdate}|${level:uppercase=true}|${message:withexception=true}"
      autoScroll="true"
      maxLines="100"
      allowAccessoryFormCreation="false"
    />
    <!--MOCS 发送报文-->
    <target
      xsi:type="RichTextBox"
      name="sendTarget"
      formName="MOCS_UI"
      controlName="MOCSSendMsg"
      layout="${longdate}|${level:uppercase=true}|${message:withexception=true}"
      autoScroll="true"
      maxLines="100"
      allowAccessoryFormCreation="false"
    />
    <!--LCU 诊断信息-->
    <target
      xsi:type="RichTextBox"
      name="lcuDiagnosticTarget"
      formName="LCU_UI"
      controlName="LCUdiagnose"
      layout="${longdate}|${level:uppercase=true}|${message:withexception=true}"
      autoScroll="true"
      maxLines="100"
      allowAccessoryFormCreation="false"
    />
    <!--LCU 接收报文-->
    <target
      xsi:type="RichTextBox"
      name="lcuReceiveTarget"
      formName="LCU_UI"
      controlName="LCURecvMsg"
      layout="${longdate}|${level:uppercase=true}|${message:withexception=true}"
      autoScroll="true"
      maxLines="100"
      allowAccessoryFormCreation="false"
    />
    <!--LCU 发送报文-->
    <target
      xsi:type="RichTextBox"
      name="lcuSendTarget"
      formName="LCU_UI"
      controlName="LCUSendMsg"
      layout="${longdate}|${level:uppercase=true}|${message:withexception=true}"
      autoScroll="true"
      maxLines="100"
      allowAccessoryFormCreation="false"
    />
    <!--VSPS 诊断信息-->
    <target
      xsi:type="RichTextBox"
      name="vspsDiagnosticTarget"
      formName="VSPS_UI"
      controlName="VSPSdiagnose"
      layout="${longdate}|${level:uppercase=true}|${message:withexception=true}"
      autoScroll="true"
      maxLines="100"
      allowAccessoryFormCreation="false"
    />
    <!--VSPS 接收报文-->
    <target
      xsi:type="RichTextBox"
      name="vspsReceiveTarget"
      formName="VSPS_UI"
      controlName="VSPS"
      layout="${longdate}|${level:uppercase=true}|${message:withexception=true}"
      autoScroll="true"
      maxLines="100"
      allowAccessoryFormCreation="false"
    />
    <!--VSPS 发送报文-->
    <target
      xsi:type="RichTextBox"
      name="vspsSendTarget"
      formName="VSPS_UI"
      controlName="VSPSSendMsg"
      layout="${longdate}|${level:uppercase=true}|${message:withexception=true}"
      autoScroll="true"
      maxLines="100"
      allowAccessoryFormCreation="false"
    />
    <!--OBC 诊断信息-->
    <target
      xsi:type="RichTextBox"
      name="obcDiagnosticTarget"
      formName="OBC_UI"
      controlName="richTextBox1"
      layout="${longdate}|${level:uppercase=true}|${message:withexception=true}"
      autoScroll="true"
      maxLines="100"
      allowAccessoryFormCreation="false"
    />
    <!--OBC 接收报文-->
    <target
      xsi:type="RichTextBox"
      name="obcReceiveTarget"
      formName="OBC_UI"
      controlName="richTextBox2"
      layout="${longdate}|${level:uppercase=true}|${message:withexception=true}"
      autoScroll="true"
      maxLines="100"
      allowAccessoryFormCreation="false"
    />
    <!--OBC 发送报文-->
    <target
      xsi:type="RichTextBox"
      name="obcSendTarget"
      formName="OBC_UI"
      controlName="richTextBox3"
      layout="${longdate}|${level:uppercase=true}|${message:withexception=true}"
      autoScroll="true"
      maxLines="100"
      allowAccessoryFormCreation="false"
    />
  </targets>

  <!--路由规则：按 Logger 名称分发-->
  <rules>
    <logger name="DiagnosticLogger" minlevel="Trace" writeTo="diagnosticTarget,lcuDiagnosticTarget,vspsDiagnosticTarget,obcDiagnosticTarget" />
    <logger name="ReceiveLogger" minlevel="Trace" writeTo="receiveTarget,lcuReceiveTarget,vspsReceiveTarget,obcReceiveTarget" />
    <logger name="SendLogger" minlevel="Trace" writeTo="sendTarget,lcuSendTarget,vspsSendTarget,obcSendTarget" />
  </rules>
</nlog>
